Repository boostcamp-2020/Project14-A-Web-Audio-Editor, pull requests merged in 2020-12, with the labels that each got.

#77 파일저장 mp3 인코딩 기능 추가 및 컴포넌트 리팩토링
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/CompressorOption.ts
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/common/util/compressor.ts
  frontend/src/components/Modal/ModalContents/SourceDownload/SourceDownload.scss
  frontend/src/components/Modal/ModalContents/SourceDownload/SourceDownload.ts
Labels: enhancement, frontend, refactoring

#76 Loading Component 구현
  frontend/src/common/util/index.js
  frontend/src/components/Loading/Loading.scss
  frontend/src/components/Loading/Loading.ts
  frontend/src/components/Modal/ModalContents/SourceUpload/SourceUpload.ts
  frontend/src/components/index.js
Labels: enhancement, frontend

#80 AudioTrack을 AudioTrackSection 컴포넌트로 분리하여 리팩토링
  frontend/.babelrc.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/AudioUtil.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/AudioTrack/index.js
  frontend/src/components/Main/Main.scss
  frontend/src/components/Main/Main.ts
  frontend/src/components/Modal/Modal.scss
  frontend/src/components/Modal/ModalContents/SourceUpload/SourceUpload.ts
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/components/index.js
  frontend/src/components/modal/Modal.scss
  frontend/src/controllers/controller.ts
  frontend/src/model/Source.ts
  frontend/src/model/Track.ts
  frontend/src/model/TrackSection.ts
  frontend/src/model/index.js
  frontend/src/store/store.ts
  frontend/tsconfig.json
  frontend/webpack.config.common.js
Labels: frontend

#78 undo/redo command 패턴 구현
  frontend/src/command/CommandManager.ts
  frontend/src/command/ICommand.ts
  frontend/src/command/SampleCommand.ts
Labels: enhancement, frontend

#81 EffectController 컴포넌트 구현
  frontend/src/common/style/variables.scss
  frontend/src/common/types/effectTypes.ts
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/components/EffectController/EffectContents/GainEffect/GainEffect.scss
  frontend/src/components/EffectController/EffectContents/GainEffect/GainEffect.ts
  frontend/src/components/EffectController/EffectContents/index.js
  frontend/src/components/EffectController/EffectController.scss
  frontend/src/components/EffectController/EffectController.ts
  frontend/src/components/EffectController/index.js
  frontend/src/components/index.js
Labels: frontend

#82 Playbar 컴포넌트, 기능 구현
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/PlayBarUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/Main/Main.ts
  frontend/src/components/PlayBar/PlayBar.scss
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlayBar/PlayBarMarker/PlayBarMarker.scss
  frontend/src/components/PlayBar/PlayBarMarker/PlayBarMarker.ts
  frontend/src/components/TimeInfo/TimeInfo.ts
  frontend/src/components/index.js
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#83 AudioTrackSection 구간에 따른 파형 정보 그리기 및 코드 리팩토링
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/util/AudioUtil.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Modal/ModalContents/SourceUpload/SourceUpload.ts
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/controllers/controller.ts
Labels: frontend, refactoring

#84 Marker 컴포넌트 구현
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/common/util/PlayBarUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/Main/Main.scss
  frontend/src/components/Main/Main.ts
  frontend/src/components/Marker/Marker.scss
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlayBar/PlayBar.scss
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/index.js
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#86 재생버튼으로 Track에 추가된 오디오 동시 재생 구현
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/model/AudioSourceInfoInTrack.ts
  frontend/src/model/Source.ts
  frontend/src/model/TrackSection.ts
  frontend/src/model/index.js
  frontend/src/store/store.ts
  frontend/src/store/storeChannel.ts
Labels: enhancement, frontend

#85 단축키 적용 및 구간 선택기능 구현
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/keyType.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/EffectController/EffectController.scss
  frontend/src/components/IconButton/IconButton.scss
  frontend/src/components/Main/Main.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
  frontend/tsconfig.json
  frontend/webpack.config.common.js
Labels: enhancement, frontend

#91 마우스 커서 변경 및 구간 복사하기 기능 구현
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/Main/Main.scss
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#95 delete, redo, undo 기능 구현
  frontend/src/command/SampleCommand.ts
  frontend/src/common/command/CommandManager.ts
  frontend/src/common/command/DeleteCommand.ts
  frontend/src/common/command/ICommand.ts
  frontend/src/components/App/App.ts
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
  frontend/tsconfig.json
  frontend/webpack.config.common.js
Labels: enhancement, frontend

#96 Marker 이동기능 구현
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/common/util/PlayBarUtil.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Marker/Marker.scss
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/TimeInfo/TimeInfo.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#98 오디오 정지, 구간 건너뛰기 기능 구현
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#101 구간 편집기능(잘라내기, 붙여넣기, 구간 자르기) 구현
  frontend/src/common/command/CommandManager.ts
  frontend/src/common/command/DeleteCommand.ts
  frontend/src/common/command/PasteCommand.ts
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/command/index.js
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/keyType.ts
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/PlayBarUtil.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/IconButton/IconButton.scss
  frontend/src/components/IconButton/IconButton.ts
  frontend/src/components/IconButton/icons.ts
  frontend/src/components/Main/Main.scss
  frontend/src/controllers/controller.ts
  frontend/src/model/TrackSection.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#102 재생바 마커 드래그로 이동하기 구현
  frontend/src/common/types/eventTypes.ts
  frontend/src/components/PlayBar/PlayBar.scss
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlayBar/PlayBarMarker/PlayBarMarker.scss
  frontend/src/components/PlayBar/PlayBarMarkerBlurZone/PlayBarMarkerBlurZone.scss
  frontend/src/components/PlayBar/PlayBarMarkerBlurZone/PlayBarMarkerBlurZone.ts
  frontend/src/components/index.js
Labels: enhancement, frontend

#103 AudioTrack Scroll 기능 구현 및 코드리팩토링
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/types/trackOptionTypes.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.scss
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/AudioTrack/AudioTrackOption/AudioTrackOption.scss
  frontend/src/components/AudioTrack/AudioTrackOption/AudioTrackOption.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/AudioTrack/index.js
  frontend/src/components/EditorMenu/EditorMenu.scss
  frontend/src/components/Logo/Logo.scss
  frontend/src/components/Logo/Logo.ts
  frontend/src/components/Main/Main.scss
  frontend/src/components/Main/Main.ts
  frontend/src/components/Sidebar/Sidebar.scss
  frontend/src/components/TimeInfo/TimeInfo.scss
  frontend/src/components/ZoomBar/ZoomBar.scss
  frontend/src/components/ZoomBar/ZoomBar.ts
  frontend/src/components/index.js
  frontend/src/components/sidebar/sidebar.scss
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: frontend

#116 compressor 전체 트랙 압축 기능 구현
  frontend/src/common/command/PasteCommand.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/compressor.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/Modal/ModalContents/SourceDownload/SourceDownload.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#118 EffectState 컴포넌트 구현 & PlayBarUtil / controller/ store 함수명, 변수명 리팩토링
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/common/util/PlayBarUtil.ts
  frontend/src/common/util/SectionEffectListUtil.ts
  frontend/src/common/util/TimeUtil.ts
  frontend/src/common/util/WidthUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/SectionEffectList/SectionEffectList.scss
  frontend/src/components/SectionEffectList/SectionEffectList.ts
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/components/index.js
  frontend/src/components/sidebar/Sidebar.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/TrackSection.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend, refactoring

#115 구간 나누기 버그 수정 및 코드 리팩토링
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/types/trackSectionTypes.ts
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/TrackSection.ts
  frontend/src/store/store.ts
Labels: frontend

#119 재생, 저장 버그 수정
  frontend/src/common/command/SplitCommand.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/Sidebar/Sidebar.ts
  frontend/src/components/sidebar/Sidebar.ts
  frontend/src/controllers/controller.ts
Labels: bug, frontend

#120 AudioMeter 컴포넌트 구현
  frontend/src/common/util/AudioUtil.ts
  frontend/src/components/AudioMeter/AudioMeter.scss
  frontend/src/components/AudioMeter/AudioMeter.ts
  frontend/src/components/Main/Main.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/index.js
Labels: frontend

#122 구간 이동하기 (드래그 앤 드롭) 기능 구현
  frontend/src/common/command/MoveCommand.ts
  frontend/src/common/command/index.js
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/WidthUtil.ts
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/controllers/controller.ts
Labels: enhancement, frontend

#121 스크롤 기능 추가로 발생한 버그 수정
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/common/util/TimeUtil.ts
  frontend/src/common/util/WidthUtil.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Main/Main.ts
  frontend/src/components/PlayBar/PlayBar.scss
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/TimeInfo/TimeInfo.scss
  frontend/src/components/ZoomBar/ZoomBar.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: bug, frontend

#123 오디오 미터 출력 버그 수정
  frontend/src/components/AudioMeter/AudioMeter.scss
  frontend/src/components/AudioMeter/AudioMeter.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
Labels: bug, frontend

#124 단축키 기능, 재생 중 커서 클릭 시 원하는 위치에서 시작, solo/mute 기능 적용
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrackOption/AudioTrackOption.ts
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/PlaybackTools/PlaybackTools.scss
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/TrackSection.ts
  frontend/src/store/store.ts
  frontend/src/store/storeChannel.ts
Labels: frontend

#125 Marker 이동 및 AudioMeter 버그 해결
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: bug

#126 Solo 다중 선택할 수 있도록 수정, 오디오 미터 멈춤 현상 수정
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/AudioTrack/AudioTrackOption/AudioTrackOption.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend, refactoring

#128 오디오 구간 이동 구현, 소스리스트 파형 추가 리팩토링
  frontend/src/common/command/MoveCommand.ts
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/DragUtil.ts
  frontend/src/common/util/ValidUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/AudioMeter/AudioMeter.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditTools/EditTools.scss
  frontend/src/components/EditorMenu/EditorMenu.scss
  frontend/src/components/IconButton/IconButton.scss
  frontend/src/components/IconButton/icons.ts
  frontend/src/components/PlaybackTools/PlaybackTools.scss
  frontend/src/components/SectionEffectList/SectionEffectList.ts
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/SectionDragStartData.ts
  frontend/src/model/index.js
  frontend/src/store/store.ts
Labels: enhancement, frontend

#127 트랙 추가하기 커맨드 구현 및 메인페이지 리팩토링
  frontend/src/common/command/AddTrackCommand.ts
  frontend/src/common/command/Command.ts
  frontend/src/common/command/CommandManager.ts
  frontend/src/common/command/DeleteCommand.ts
  frontend/src/common/command/ICommand.ts
  frontend/src/common/command/MoveCommand.ts
  frontend/src/common/command/PasteCommand.ts
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/command/index.js
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.scss
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/AudioTrack/AudioTrackOption/AudioTrackOption.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.scss
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/EditorMenu/EditorMenu.scss
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/IconButton/IconButton.ts
  frontend/src/components/IconButton/icons.ts
  frontend/src/components/Logo/Logo.scss
  frontend/src/components/Main/Main.scss
  frontend/src/components/Main/Main.ts
  frontend/src/components/Main/MainAsideContent/MainAsideContent.scss
  frontend/src/components/Main/MainAsideContent/MainAsideContent.ts
  frontend/src/components/Main/MainMiddleContent/MainMiddleContent.scss
  frontend/src/components/Main/MainMiddleContent/MainMiddleContent.ts
  frontend/src/components/Main/MainMiddleContent/MainTrackOptionListArea/MainTrackOptionListArea.scss
  frontend/src/components/Main/MainMiddleContent/MainTrackOptionListArea/MainTrackOptionListArea.ts
  frontend/src/components/Main/MainRightContent/MainRightContent.scss
  frontend/src/components/Main/MainRightContent/MainRightContent.ts
  frontend/src/components/Main/MainRightContent/MainTrackListArea/MainTrackListArea.scss
  frontend/src/components/Main/MainRightContent/MainTrackListArea/MainTrackListArea.ts
  frontend/src/components/Main/index.js
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/TimeInfo/TimeInfo.scss
  frontend/src/components/index.js
  frontend/src/controllers/CommandController.ts
  frontend/src/controllers/controller.ts
  frontend/src/controllers/index.js
Labels: bug, enhancement, frontend

#129 트랙 이동하기 및 재생버튼 미동작 버그 수정
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
Labels: bug, frontend

#131 마커 종료시점 이동 및 오디오 반복 재생 구현, 앞으로 건너뛰기 버그 수정
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#130 트랙 선택기능 구현, 좌우 단축키 버그 수정, backend 환경 삭제
  backend/.babelrc.js
  backend/.eslintrc.js
  backend/.prettierrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/__test__/TransactionWrapper.js
  backend/src/__test__/router/api.test.js
  backend/src/__test__/router/auth.test.js
  backend/src/__test__/service/user-service.test.js
  backend/src/application/application-factory.js
  backend/src/application/application.js
  backend/src/application/index.js
  backend/src/common/config/database/connection-option-generator.js
  backend/src/common/config/database/database-type.js
  backend/src/common/env/database-env.js
  backend/src/common/env/env-type.js
  backend/src/common/error/business-error.js
  backend/src/common/error/entity-already-exist.js
  backend/src/common/error/entity-not-found-error.js
  backend/src/common/error/error-code.js
  backend/src/common/middleware/error-handler.js
  backend/src/common/middleware/index.js
  backend/src/common/middleware/request-type.js
  backend/src/common/middleware/transformer.js
  backend/src/common/middleware/validator.js
  backend/src/controller/index.js
  backend/src/controller/user-controller.js
  backend/src/dto/index.js
  backend/src/dto/signup-request-body.js
  backend/src/main.js
  backend/src/model/user.js
  backend/src/router/api.js
  backend/src/router/auth.js
  backend/src/router/index.js
  backend/src/router/oauth.js
  backend/src/service/index.js
  backend/src/service/user-service.js
  backend/tsconfig.json
  frontend/env/.env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/DragUtil.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/controllers/CommandController.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/SelectTrackData.ts
  frontend/src/model/index.js
  frontend/src/store/store.ts
  frontend/webpack.config.common.js
Labels: bug, enhancement, frontend

#134 오디오 맨 끝 이동 버그 수정, effectNode 연결, effect event type 정의
  frontend/src/common/types/eventTypes.ts
  frontend/src/components/Modal/ModalContents/EffectList/EffectList.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/SectionEffectList/SectionEffectList.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/Effect.ts
  frontend/src/model/EffectProperties.ts
  frontend/src/model/TrackSection.ts
Labels: bug, enhancement, frontend

#135 week3 버그 해결, 파비콘 추가, 구간 이동 UX 개선
  frontend/public/favicon.ico
  frontend/src/common/command/DeleteCommand.ts
  frontend/src/common/command/MoveCommand.ts
  frontend/src/common/style/reset.scss
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/DragUtil.ts
  frontend/src/common/util/ValidUtil.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/SectionEffectList/SectionEffectList.ts
  frontend/webpack.config.common.js
Labels: bug, frontend, refactoring

#136 트랙 색상변경 기능 구현
  frontend/src/common/command/ColorChangeCommand.ts
  frontend/src/common/command/index.js
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/types/trackMenuTypes.ts
  frontend/src/common/types/trackSectionTypes.ts
  frontend/src/common/util/CopyUtil.ts
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.scss
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/controllers/CommandController.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/TrackSection.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#137 재생 버그 수정
  frontend/src/common/style/reset.scss
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/model/index.js
Labels: bug, frontend

#141 다중구간 선택 순서에 따라 삭제가 안되는 버그 해결
  frontend/src/common/command/DeleteCommand.ts
Labels: bug, frontend

#146 Effect 종류 정의, Effect 적용
  frontend/src/common/types/effectTypes.ts
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/SectionEffectListUtil.ts
  frontend/src/common/util/SectionEffectSettingUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/EffectController/EffectContents/CompressorEffect/CompressorEffect.scss
  frontend/src/components/EffectController/EffectContents/CompressorEffect/CompressorEffect.ts
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.scss
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.ts
  frontend/src/components/EffectController/EffectContents/GainEffect/GainEffect.ts
  frontend/src/components/EffectController/EffectContents/ReverbEffect/ReverbEffect.scss
  frontend/src/components/EffectController/EffectContents/ReverbEffect/ReverbEffect.ts
  frontend/src/components/EffectController/EffectContents/index.js
  frontend/src/components/Modal/ModalContents/EffectList/EffectList.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/SectionEffectList/SectionEffectList.ts
  frontend/src/components/SectionEffectSetting/SectionEffectSetting.scss
  frontend/src/components/SectionEffectSetting/SectionEffectSetting.ts
  frontend/src/components/Sidebar/Sidebar.ts
  frontend/src/components/index.js
  frontend/src/controllers/controller.ts
  frontend/src/model/CompressorProperties.ts
  frontend/src/model/Effect.ts
  frontend/src/model/EffectProperties.ts
  frontend/src/model/FilterProperties.ts
  frontend/src/model/GainProperties.ts
  frontend/src/model/ReverbProperties.ts
  frontend/src/model/index.js
  frontend/src/store/store.ts
Labels: enhancement, frontend

#145 반복 재생 / 반복 구간 기능 구현
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/Marker/Marker.ts
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlayBar/PlayBarMarker/PlayBarMarker.scss
  frontend/src/components/PlayBar/PlayBarMarker/PlayBarMarker.ts
  frontend/src/components/PlayBar/PlayBarMarkerBlurZone/PlayBarMarkerBlurZone.scss
  frontend/src/components/PlayBar/PlayBarMarkerBlurZone/PlayBarMarkerBlurZone.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#143 스크롤 버그 해결 및 zoom in/out 기능 구현
  frontend/src/common/command/DeleteCommand.ts
  frontend/src/common/command/MoveCommand.ts
  frontend/src/common/command/PasteCommand.ts
  frontend/src/common/command/SplitCommand.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/types/zoomTypes.ts
  frontend/src/common/util/DragUtil.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/common/util/TimeUtil.ts
  frontend/src/common/util/WidthUtil.ts
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Main/MainRightContent/MainRightContent.scss
  frontend/src/components/Main/MainRightContent/MainRightContent.ts
  frontend/src/components/Main/MainRightContent/MainTrackScrollArea/MainTrackScrollArea.scss
  frontend/src/components/Main/MainRightContent/MainTrackScrollArea/MainTrackScrollArea.ts
  frontend/src/components/Main/index.js
  frontend/src/components/Modal/ModalContents/SourceUpload/SourceUpload.ts
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/ZoomBar/ZoomBar.ts
  frontend/src/controllers/ZoomController.ts
  frontend/src/controllers/controller.ts
  frontend/src/controllers/index.js
  frontend/src/store/store.ts
Labels: bug, enhancement, frontend, refactoring

#149 구간 반복 버그 수정 및 전체 재생 시간이 보이도록 구현
  frontend/src/common/types/storeTypes.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/common/util/WidthUtil.ts
  frontend/src/components/Marker/Marker.scss
  frontend/src/components/PlayBar/PlayBar.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/TimeInfo/TimeInfo.ts
  frontend/src/store/store.ts
Labels: bug, enhancement, frontend

#151 모달관련 keydown 버그 해결
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/keyType.ts
  frontend/src/common/util/EncodingUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/App/App.ts
  frontend/src/components/Modal/ModalContents/SourceDownload/SourceDownload.ts
  frontend/src/controllers/controller.ts
Labels: bug, frontend

#150 Effect deep copy로 이동해도 적용되도록 수정, switch case문 부분 refactoring
  frontend/src/common/util/CopyUtil.ts
  frontend/src/common/util/SectionEffectSettingUtil.ts
  frontend/src/components/PlaybackTools/PlaybackToolClass.ts
  frontend/src/components/SectionEffectSetting/SectionEffectSetting.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/Effect.ts
Labels: frontend, refactoring

#155 track 및 trackSection에 마우스 커서 올릴시 커서 시간 나오도록 구현 및 싱크 오류 해결
  frontend/src/common/command/concrete/DeleteCommand.ts
  frontend/src/common/command/concrete/DeleteTrackCommand.ts
  frontend/src/common/util/MarkerEventUtil.ts
  frontend/src/components/AudioTrack/index.js
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrack.ts
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Sidebar/TimeInfo/TimeInfo.ts
Labels: bug, enhancement, frontend

#156 자르기 커서 시간정보 기능 및 EditorMenu 컴포넌트 분리 및 성능 최적화
  frontend/src/common/style/variables.scss
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/Header/EditTools/EditTools.ts
  frontend/src/components/Header/EditorMenu/EditorMenu.ts
  frontend/src/components/Header/FileTools/FileTools.scss
  frontend/src/components/Header/FileTools/FileTools.ts
  frontend/src/components/Header/Header.scss
  frontend/src/components/Header/Header.ts
  frontend/src/components/Header/index.js
  frontend/src/components/Main/MainControllerContent/AudioMeter/AudioMeter.scss
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrack.scss
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrack.ts
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/controllers/CommandController.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend, refactoring

#157 Effect 삭제 기능
  frontend/src/common/audio/AudioManager.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectList/SectionEffectList.ts
  frontend/src/controllers/controller.ts
  frontend/src/model/Effect.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#160 재생바 위치 분리 및 마커 위치 조정
  frontend/src/common/style/variables.scss
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/Main/MainControllerContent/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/Main/MainControllerContent/ZoomBar/ZoomBar.ts
  frontend/src/components/Main/MainTrackContent/MainPlaybarScrollArea/MainPlayBarScrollArea.scss
  frontend/src/components/Main/MainTrackContent/MainPlaybarScrollArea/MainPlayBarScrollArea.ts
  frontend/src/components/Main/MainTrackContent/MainTrackContent.scss
  frontend/src/components/Main/MainTrackContent/MainTrackContent.ts
  frontend/src/components/Main/MainTrackContent/MainTrackOptionListArea/MainTrackOptionListArea.scss
  frontend/src/components/Main/MainTrackContent/MainTrackOptionListArea/MainTrackOptionListArea.ts
  frontend/src/components/Main/MainTrackContent/MainTrackScrollArea/MainTrackScrollArea.ts
  frontend/src/components/Main/MainTrackContent/Marker/Marker.scss
  frontend/src/components/Main/MainTrackContent/Marker/Marker.ts
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBar.scss
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBar.ts
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBarMarker/PlayBarMarker.scss
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBarMarker/PlayBarMarker.ts
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBarMarkerBlurZone/PlayBarMarkerBlurZone.scss
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBarMarkerBlurZone/PlayBarMarkerBlurZone.ts
  frontend/src/components/Main/MainTrackContent/PlayBar/index.js
  frontend/src/components/Main/MainTrackContent/index.js
  frontend/src/components/Modal/ModalContents/SourceUpload/SourceUpload.ts
  frontend/src/components/index.js
  frontend/src/store/store.ts
Labels: frontend, refactoring

#162 전체 재생 시간 끝으로 마커가 이동 안되는 버그 수정
  frontend/src/common/audio/AudioManager.ts
Labels: bug, enhancement, frontend

#163 스크롤 관련 버그 및 줌 관련 marker 위치 버그 해결
  frontend/src/common/command/concrete/AddTrackCommand.ts
  frontend/src/common/command/concrete/DeleteTrackCommand.ts
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/Header/EditTools/EditTools.ts
  frontend/src/components/Main/MainControllerContent/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrack.ts
  frontend/src/components/Main/MainTrackContent/MainTrackContent.ts
  frontend/src/components/Main/MainTrackContent/MainTrackOptionListArea/MainTrackOptionListArea.scss
  frontend/src/components/Main/MainTrackContent/MainTrackScrollArea/MainTrackScrollArea.ts
  frontend/src/components/Main/MainTrackContent/Marker/Marker.ts
  frontend/src/store/store.ts
Labels: bug, frontend

#168 Effect 수정 기능 구현
  frontend/src/common/types/effectTypes.ts
  frontend/src/common/types/eventTypes.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeTypes.ts
  frontend/src/components/EffectController/EffectContents/CompressorEffect/CompressorEffect.ts
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.ts
  frontend/src/components/EffectController/EffectContents/GainEffect/GainEffect.ts
  frontend/src/components/EffectController/EffectContents/ReverbEffect/ReverbEffect.ts
  frontend/src/components/Modal/ModalContents/EffectList/EffectList.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectList/SectionEffectList.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectSetting/SectionEffectSetting.ts
  frontend/src/controllers/controller.ts
  frontend/src/store/store.ts
Labels: enhancement, frontend

#169 unsubscribe로 성능 최적화
  frontend/src/components/Header/EditTools/EditTools.ts
  frontend/src/components/Header/FileTools/FileTools.ts
  frontend/src/components/Header/PlaybackTools/PlaybackTools.ts
  frontend/src/components/Main/MainControllerContent/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/Main/MainControllerContent/MainControllerContent.ts
  frontend/src/components/Main/MainControllerContent/ZoomBar/ZoomBar.ts
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrack.ts
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Main/MainTrackContent/MainTrackContent.ts
  frontend/src/components/Main/MainTrackContent/MainTrackListArea/MainTrackListArea.ts
  frontend/src/components/Main/MainTrackContent/MainTrackOptionListArea/MainTrackOptionListArea.ts
  frontend/src/components/Main/MainTrackContent/MainTrackScrollArea/MainTrackScrollArea.ts
  frontend/src/components/Main/MainTrackContent/Marker/Marker.ts
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBar.ts
  frontend/src/components/Pages/MainPage.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectList/SectionEffectList.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectSetting/SectionEffectSetting.ts
  frontend/src/components/Sidebar/SidebarListInfo/SidebarListInfo.ts
  frontend/src/components/Sidebar/SidebarListInfo/SourceList/SourceList.ts
  frontend/src/components/Sidebar/TimeInfo/TimeInfo.ts
  frontend/src/store/storeChannel.ts
Labels: bug, refactoring

#170 트랙, 재생바 반응형 사이즈 변경 적용 및 폴리필 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Main/MainControllerContent/MainControllerContent.ts
  frontend/src/components/Main/MainTrackContent/AudioTrack/AudioTrackSection/AudioTrackSection.ts
  frontend/src/components/Main/MainTrackContent/MainTrackContent.ts
  frontend/src/components/Main/MainTrackContent/MainTrackScrollArea/MainTrackScrollArea.ts
  frontend/src/components/Main/MainTrackContent/PlayBar/PlayBar.ts
  frontend/src/index.js
Labels: frontend, refactoring

#173 console제거 및 zoom out 커서 싱크 안맞는 버그 해결
  frontend/src/common/command/concrete/ModifyEffectCommand.ts
  frontend/src/components/EffectController/EffectContents/FadeInEffect/FadeInEffect.ts
  frontend/src/components/Main/MainControllerContent/AudioTrackMenu/AudioTrackMenu.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectList/SectionEffectList.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectSetting/SectionEffectSetting.ts
Labels: bug, frontend

#175 style 수정 및 AddEffectCommand,Compressor, Fade in/out 버그 해결
  frontend/src/common/command/concrete/AddEffectCommand.ts
  frontend/src/common/util/EffectUtil.ts
  frontend/src/components/EffectController/EffectContents/CompressorEffect/CompressorEffect.ts
  frontend/src/components/EffectController/EffectContents/FadeInEffect/FadeInEffect.ts
  frontend/src/components/EffectController/EffectContents/FadeOutEffect/FadeOutEffect.ts
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.scss
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.ts
  frontend/src/components/EffectController/EffectContents/GainEffect/GainEffect.scss
  frontend/src/components/EffectController/EffectContents/ReverbEffect/ReverbEffect.scss
  frontend/src/components/Header/ZoomRateInfo/ZoomRateInfo.scss
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectList/SectionEffectList.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectSetting/SectionEffectSetting.ts
  frontend/src/controllers/CommandController.ts
Labels: bug, frontend

#176 style 수정 및 AddEffectCommand,Compressor, Fade in/out 버그 해결
  frontend/src/common/command/concrete/AddEffectCommand.ts
  frontend/src/common/util/EffectUtil.ts
  frontend/src/components/EffectController/EffectContents/CompressorEffect/CompressorEffect.ts
  frontend/src/components/EffectController/EffectContents/FadeInEffect/FadeInEffect.ts
  frontend/src/components/EffectController/EffectContents/FadeOutEffect/FadeOutEffect.ts
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.scss
  frontend/src/components/EffectController/EffectContents/FilterEffect/FilterEffect.ts
  frontend/src/components/EffectController/EffectContents/GainEffect/GainEffect.scss
  frontend/src/components/EffectController/EffectContents/ReverbEffect/ReverbEffect.scss
  frontend/src/components/Header/ZoomRateInfo/ZoomRateInfo.scss
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectList/SectionEffectList.ts
  frontend/src/components/Sidebar/SidebarListInfo/SectionEffectSetting/SectionEffectSetting.ts
  frontend/src/controllers/CommandController.ts
Labels: bug, frontend

#177 구간이동 시작시간이 음수가 나오느 버그 해결 및 AudioMeter max-width 추가
  frontend/src/common/audio/AudioManager.ts
  frontend/src/common/util/DragUtil.ts
  frontend/src/components/Main/MainControllerContent/AudioMeter/AudioMeter.scss
Labels: bug, frontend

#178 Week5 v1.2.3 배포
  frontend/src/common/audio/AudioManager.ts
  frontend/src/common/util/DragUtil.ts
  frontend/src/components/Main/MainControllerContent/AudioMeter/AudioMeter.scss
Labels: deploy, frontend
