Repository boostcamp-2020/Project14-A-Web-Audio-Editor, pull requests merged in 2020-11, with the labels that each got.

#40 서버 정적파일 서비스 추가
  backend/src/application/application.js
  frontend/package-lock.json
  frontend/webpack.config.common.js
Labels: backend, frontend

#41 Modal 컴포넌트 구현
  frontend/src/components/modal/index.ts
  frontend/src/components/modal/modal-buttons/index.ts
  frontend/src/components/modal/modal-buttons/modalButtons.ts
  frontend/src/components/modal/modalContents.ts
  frontend/src/components/modal/style.scss
Labels: frontend

#42 Sidebar Source List 컴포넌트 제작
  frontend/src/components/sidebar/index.ts
  frontend/src/components/sidebar/sidebar.scss
  frontend/src/components/source-list/index.ts
  frontend/src/components/source-list/source-list.scss
Labels: frontend

#43 Sidebar TimeInfo 컴포넌트 제작
  frontend/src/components/SourceList/index.ts
  frontend/src/components/SourceList/style.scss
  frontend/src/components/TimeInfo/index.ts
  frontend/src/components/TimeInfo/style.scss
  frontend/src/components/sidebar/index.ts
  frontend/src/components/sidebar/style.scss
Labels: frontend

#44 Source Upload Form 컴포넌트 및 기능 구현
  frontend/src/components/audio-analyzer/index.ts
  frontend/src/components/source-upload/index.ts
  frontend/src/components/source-upload/style.scss
Labels: enhancement, frontend

#45 Header 컴포넌트 구현
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/EditTools/style.scss
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/EditorMenu/style.scss
  frontend/src/components/Header/Header.ts
  frontend/src/components/Header/style.scss
  frontend/src/components/IconButton/icons.ts
  frontend/src/components/IconButton/index.ts
  frontend/src/components/Logo/Logo.ts
  frontend/src/components/PlaybackTools/index.ts
  frontend/src/components/PlaybackTools/style.scss
  frontend/src/components/audio-editor-app/index.ts
  frontend/src/components/index.js
Labels: frontend

#46 AudioTrack 컴포넌트 제작
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/AudioTrack/index.js
  frontend/src/components/index.js
  frontend/webpack.config.common.js
Labels: frontend

#48 메인화면 레이아웃 구성
  frontend/public/index.html
  frontend/src/common/style/common.scss
  frontend/src/common/style/index.js
  frontend/src/common/style/reset.scss
  frontend/src/common/style/variables.scss
  frontend/src/components/App/App.scss
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/index.js
  frontend/src/components/EditTools/EditTools.scss
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/EditorMenu/EditorMenu.scss
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/Header/Header.scss
  frontend/src/components/Header/Header.ts
  frontend/src/components/IconButton/IconButton.ts
  frontend/src/components/Logo/Logo.ts
  frontend/src/components/Main/Main.scss
  frontend/src/components/Main/Main.ts
  frontend/src/components/PlaybackTools/PlaybackTools.scss
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/SourceList/SourceList.scss
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/components/TimeInfo/TimeInfo.scss
  frontend/src/components/TimeInfo/TimeInfo.ts
  frontend/src/components/index.js
  frontend/src/components/sample-component/index.ts
  frontend/src/components/sidebar/Sidebar.ts
  frontend/src/components/sidebar/sidebar.scss
  frontend/src/components/sidebar/style.scss
  frontend/src/components/source-list/index.ts
  frontend/src/components/source-list/source-list.scss
  frontend/src/index.js
  frontend/webpack.config.common.js
Labels: frontend

#50 IconButton hover 효과 추가
  frontend/src/common/style/variables.scss
  frontend/src/components/EditorMenu/EditorMenu.scss
  frontend/src/components/IconButton/IconButton.scss
  frontend/src/components/IconButton/IconButton.ts
Labels: frontend

#49 refactor: [FE] Sidebar 수정
  frontend/src/components/SourceList/SourceList.scss
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/components/TimeInfo/TimeInfo.scss
  frontend/src/components/TimeInfo/TimeInfo.ts
  frontend/src/components/sidebar/sidebar.scss
Labels: frontend

#51 SourceUploadModal과 Header 연결
  frontend/src/components/App/App.ts
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/audio-analyzer/index.ts
  frontend/src/components/index.js
  frontend/src/components/modal/index.ts
  frontend/src/components/modal/style.scss
  frontend/src/components/source-upload/index.ts
Labels: enhancement, frontend

#53 EffectList 컴포넌트 제작 및 루트 컴포넌트에서 모든 이벤트 처리 구현
  frontend/src/common/types/eventDataType.ts
  frontend/src/common/types/eventTargetDataType.ts
  frontend/src/common/types/eventType.ts
  frontend/src/common/types/index.js
  frontend/src/common/util/EventUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/App/App.ts
  frontend/src/components/EffectList/EffectList.scss
  frontend/src/components/EffectList/EffectList.ts
  frontend/src/components/SourceUploadForm/SourceUploadForm.scss
  frontend/src/components/SourceUploadForm/SourceUploadForm.ts
  frontend/src/components/index.js
  frontend/src/components/modal/Modal.scss
  frontend/src/components/modal/Modal.ts
  frontend/src/components/modal/ModalButtons/ModalButtons.ts
  frontend/src/components/modal/ModalButtons/modalButtonContents.ts
  frontend/src/components/modal/index.js
  frontend/src/components/modal/index.ts
  frontend/src/components/modal/modal-buttons/index.ts
  frontend/src/components/modal/modalContents.ts
  frontend/src/components/modal/modalType/modalType.ts
  frontend/tsconfig.json
  frontend/webpack.config.common.js
Labels: frontend

#54 편집파일 저장하기 기능 구현
  frontend/src/common/types/eventType.ts
  frontend/src/common/util/compressor.ts
  frontend/src/common/util/index.js
  frontend/src/components/App/App.ts
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/SourceDownload/SourceDownload.scss
  frontend/src/components/SourceDownload/SourceDownload.ts
  frontend/src/components/index.js
  frontend/src/components/modal/Modal.scss
  frontend/src/components/modal/ModalButtons/modalButtonContents.ts
  frontend/src/components/modal/modalContents.ts
  frontend/src/components/modal/modalType/modalType.ts
Labels: enhancement, frontend

#55 pub/sub 패턴 활용 Store 구현 및 소스 불러오기 기능 연동
  frontend/src/common/style/common.scss
  frontend/src/common/types/eventType.ts
  frontend/src/common/types/index.js
  frontend/src/common/types/storeChannelType.ts
  frontend/src/common/util/AudioUtil.ts
  frontend/src/common/util/FileUtil.ts
  frontend/src/common/util/index.js
  frontend/src/components/App/App.ts
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/SourceList/SourceList.scss
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/components/SourceUploadForm/SourceUploadForm.ts
  frontend/src/components/audio-analyzer/index.ts
  frontend/src/components/modal/Modal.scss
  frontend/src/components/modal/Modal.ts
  frontend/src/components/modal/ModalButtons/modalButtonContents.ts
  frontend/src/controllers/controller.ts
  frontend/src/controllers/index.js
  frontend/src/model/Source.ts
  frontend/src/model/index.js
  frontend/src/store/index.js
  frontend/src/store/store.ts
  frontend/src/store/storeChannel.ts
  frontend/src/store/storeType.ts
  frontend/tsconfig.json
  frontend/webpack.config.common.js
Labels: frontend

#57 Modal 관련 컴포넌트 리팩토링
  frontend/src/components/App/App.ts
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/SourceDownload/SourceDownload.ts
  frontend/src/components/SourceUploadForm/SourceUploadForm.ts
  frontend/src/components/modal/Modal.ts
  frontend/src/components/modal/ModalButtons/modalButtonContents.ts
Labels: enhancement, frontend

#59 Week1 코드 리팩토링 및 버그 수정
  frontend/public/index.html
  frontend/src/common/util/compressor.ts
  frontend/src/components/App/App.ts
  frontend/src/components/AudioTrack/AudioTrack.scss
  frontend/src/components/AudioTrack/AudioTrack.ts
  frontend/src/components/EditTools/EditTools.scss
  frontend/src/components/EditTools/EditTools.ts
  frontend/src/components/EditorMenu/EditorMenu.scss
  frontend/src/components/EditorMenu/EditorMenu.ts
  frontend/src/components/Header/Header.scss
  frontend/src/components/Header/Header.ts
  frontend/src/components/IconButton/IconButton.ts
  frontend/src/components/Logo/Logo.ts
  frontend/src/components/Main/Main.ts
  frontend/src/components/PlaybackTools/PlaybackTools.scss
  frontend/src/components/PlaybackTools/PlaybackTools.ts
  frontend/src/components/SourceDownload/SourceDownload.ts
  frontend/src/components/SourceList/SourceList.ts
  frontend/src/components/SourceUploadForm/SourceUploadForm.ts
  frontend/src/components/TimeInfo/TimeInfo.ts
  frontend/src/components/modal/Modal.scss
  frontend/src/components/modal/Modal.ts
  frontend/src/components/modal/ModalButtons/ModalButtons.ts
  frontend/src/components/modal/ModalButtons/modalButtonContents.ts
  frontend/src/components/modal/modalContents.ts
  frontend/src/components/sidebar/Sidebar.ts
Labels: bug, frontend, refactoring

#60 파일이름 변경 인식 문제 해결
  frontend/src/components/Modal/Modal.scss
  frontend/src/components/Modal/Modal.ts
  frontend/src/components/Modal/ModalButtons/ModalButtons.ts
  frontend/src/components/Modal/ModalButtons/modalButtonContents.ts
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/modalContents.ts
  frontend/src/components/Modal/modalType/modalType.ts
  frontend/src/components/Sidebar/Sidebar.scss
  frontend/src/components/Sidebar/Sidebar.ts
Labels: frontend, refactoring
